html {background-color: #e0e0e0;  font-family:verdana,sans-serif; font-size: 1em;}
body {background-color: white; margin-left: 13%; margin-right:13%; margin-top:0; }

h2,h3,h4,h5,h6{ text-align:center;font-family:Verdana,sans-serif;}
.titolo
{
padding-left:3.2em;
font-size:3em;
font-family: 'Shojumaru', cursive;
}
.titolo a{text-decoration: none; color:black;}

.sottotitolo
{
padding-left:12.5em;
font-family: 'Shojumaru', cursive;
}
.sottotitolo a{text-decoration: none; color:black;}

h1,h2{font-family: 'Shojumaru', cursive;
}
h1{font-size: 2em; 
	padding-left:3em;}
.tao {float:left;
    max-width: 6em;
	margin-left:3%;}
	
.footer{display:none;
}

.Indice{
display:none;
}
.testo_posizionato{
	clear:left;
}
.testo_centrato {
	text-align:center;
}






#judobambini{
margin-top:12%;

padding-right:3%;
}
#fondatorejudo{
width:22%;
float:left;
clear:left;
padding-top:3%;
margin-right:3%;
}
#fondatoretxt{
font-size:0.7em;
float:left;
clear:both;
padding-left:1%;
margin-right:5%;
margin-bottom:2%;
max-width:20%;
}

#fondatoreBJJ{
width: 20%;
padding-left:3%;
float:left;
margin-right:3%;
}

#fondatorebjjtxt{
font-size:0.7em;
	clear:both;
padding-left:3%;
float:left;
max-width:15%;
margin-right:8%;
margin-bottom:2%;
}

#fasisensibili{

	height:30em;
	display:block;
	margin:0 auto;
}
#BambiniEducati{
	width: 50.57%;
}
#BambiniGiocosi{
	width: 48.5%;
}
#BambiniAJudo{
	display:block;
	margin:0 auto;
}




#RenzoOndei{
width:15%;
float:left;
padding-left:3%;
}

#SilvioCici {
width:15%;
float:left;
margin-right:3%;
padding-left:3%;
}


#fotojudo1{
width:15.2%;
}
#fotojudo2{
width:13%;
}
#fotojudo3{
width:14%;
}
#fotojudo4{
width:15.1%;
}
#fotojudo5{
width:9%;
}

#fotobjj1{
width: 14%;
}
#fotobjj2{
width: 14%;
}
#Miyao{
width: 12.3%;
}
#fotobjj4{
width: 14%;
}
#fotobjj5{
width: 14.9%;
}

#CoppaItalia{
padding-top: 1em;
width: 45%;
display:block; margin:0 auto;
}


#fotostorica1{
padding-top: 1em;
width: 27.9%;
}
#fotostorica2{
padding-top: 1em;
width: 14.4%;
padding-left:4%;
}
#ragazze_storica{
clear:right;
padding-top: 1em;
width: 40%;
float:right;
}
#ragazze_storicatxt{
font-size:0.7em;
float:right;
clear:right;
margin-bottom:2%;
max-width:40%;
}
#silvio_storica{
clear:right;
padding-top: 1em;
width: 40%;
float:right;
}
#silvio_storicatxt{
float:right;
font-size:0.7em;
clear:right;
margin-bottom:2%;
max-width:40%;
}

.arancio{  /*testo arancio degli orari */
font-size:1.5em;
color:#FFA500;
    text-shadow: -0.05em 0 black, 0 0.05em black, 0.05em 0 black, 0 -0.05em black;
}
#tatami{
width:50%;
 padding-top:1em;
margin:0 auto;
  display: block;
}

#frame{height:20em;
       padding-top: 0.5em;
        padding-bottom: 2em;
        text-align: center;}    
    
#frame2{
   border: none;
    
     width: 60%;
         height: 100%;
       }
	   
#blocco_centrato{
width:50%;

}	   





.navigazione{

display:none;
}	
#slideshow{
display:none;
}	  

.news {
padding-left: 5%;
width:40%;
float:left;
}


	  




.indirizzo{
            padding: 0;
            vertical-align: middle;
                    padding-left: 5%;
        padding-right: 5%;
        width: 90%;
         display: inline;
vertical-align: middle;}

.valido{
display:none;
    }
      .menu {
display:none;

      }
.immagine_news{ 
display:block; margin:0 auto;
max-width:100%;
max-height: 15em;
}


.data_news{
text-align: center;
padding-bottom: 1.5%;
padding-top: 3%;
}

.titolo_news{
text-align: center;
text-transform: uppercase;
}

span.elimina_notizia{
text-align: center;
}

.titolonews{ /*titolo della news aperta*/
clear: left;
text-align: center;
padding:0;
}

.imgnews{ /*titolo della news aperta*/
display:block; margin:0 auto;
max-width:94%;
clear: right;
}

.contenuto{ /*testo e data della news aperta */
padding-left: 3%;
padding-right: 3%;
padding-top: 1%;
}

.corpo{
padding-left:3%;
padding-right:3%;

}


.corpo2{
padding-left:3%;
padding-right:3%;
padding-left:21%;


}

/* definizione commenti */

span.commento_user {
		padding-left:3%;
	padding-right:3%;
}

span.commento_data {
		padding-left:3%;
	padding-right:3%;
}

.input_label{ /* testo e box inserimento nuovo commento */
display:none;
}

#form_commento{ /*text area inserisci testo del commento */
display:none;
}

span.commento_elimina input { /*questo corrisponde al tasto elimina */
display:none;
}
.commenti p {
	padding-left:6%;
	padding-right:6%;
}




.aggiungi_mail{
display:none;
}

#inserisci{ /* tasto inserisci commento */
display:none;
}

.email{
display:none;
}

.user{
display:none;
}

#form_alt{ /* text area inserimento alt di testo dell'immagine della notizia */
width:97%;
padding-bottom: 1%;
padding-top: 1%;
margin-bottom:3%;
}

#form_titolo{ /* text area inserimento titolo notizia */
width:97%;
padding-bottom: 1%;
padding-top: 1%;
margin-bottom:3%;
}

#form_contenuto{ /* text area inserisci testo notizia */
width: 97%;
padding-bottom: 20%;
}
#testo_pag_aggiungi_notizia{
clear: both;
padding-left:3%;
padding-right: 3%;
}

#scompari{
display:none;
}
